[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-PP.roboshop.internal
Environment=CATALOGUE_HOST=catalogue-PP.roboshop.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target